@model Agence.Web.Models.PerformanceComercialViewModel
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#Consultor_select').multiSelect({

        });

        $(".showRelatorio").on("click", function (e) {
            $('#barchart_div_disable').hide();
            $('#piechart_div_disable').hide();
            $('#relatorio_div_disable').show();
            var url = '@Url.Action("SearchData", "PerformanceComercial")';
            $.post(url, $("#RelatorioForm").serialize(), function (data, status) {
                $("#_Result").html(data);
            });
            return false;
        });

        $(".showPizza").on("click", function (e) {
            $('#barchart_div_disable').hide();
            $('#piechart_div_disable').show();
            $('#relatorio_div_disable').hide();
            var url = '@Url.Action("PizzaGrafico", "PerformanceComercial")';

            $.post(url, $("#RelatorioForm").serialize(), function (data, status) {
                google.charts.load("current", { packages: ["corechart"] });
                google.charts.setOnLoadCallback(function () {
                    pieChart(data)
                });
            });
            return false;
        });

        $(".showBar").on("click", function (e) {
            $('#barchart_div_disable').show();
            $('#piechart_div_disable').hide();
            $('#relatorio_div_disable').hide();
            var url = '@Url.Action("ColumnGrafico", "PerformanceComercial")';
            $.post(url, $("#RelatorioForm").serialize(), function (data, status) {
                google.charts.load("current", { packages: ["corechart"] });
                google.charts.setOnLoadCallback(function () {
                    barChart(data)
                });
            });
            return false;
        });

        function pieChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Consultor');
            data.addColumn('number', 'Percentagem');
            var dataArray = [];
            $.each(result, function (i, obj) {
                dataArray.push([obj.Consultor, parseInt(obj.Percentagem)]);
            });
            data.addRows(dataArray);

            var piechart_options = {
                title: 'Pizza',
                is3D: true,
            };
            $('#piechart_div_disable').show();
            var piechart = new google.visualization.PieChart(document.getElementById('piechart_div'));
            piechart.draw(data, piechart_options);
        }

        function barChart(result) {
            debugger;
            var data = new google.visualization.DataTable();         
            data.addColumn('string', 'Periodo');

            $.each(result, function (i, obj) {
                if (i == 0) {
                    $.each(obj.Consultores, function (j, obj1) {
                        data.addColumn('number', obj1);
                    });
                }
            });

            $.each(result, function (i, obj) {
                var dataArray = [];
                dataArray.push(obj.Periodo);
                $.each(obj.ListColumn, function (j, obj1) {
                    dataArray.push(obj1.ReceitaLiquida);
                });
                data.addRows([dataArray]);
            });
            debugger;
            var piechart_options = {
                title: 'Grafíco',
                height: 400,
                is3D: true,
            };
            $('#barchart_div_disable').show();
            var piechart = new google.visualization.ColumnChart(document.getElementById('barchart_div'));
            piechart.draw(data, piechart_options);
        }

    });

</script>
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Performance Comercial</h1>
    @using (Html.BeginForm("SearchData", "PerformanceComercial", FormMethod.Post, new { @id = "RelatorioForm" }))
    {
        <div class="row">

            <div class="col-xl-5 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <h5>Consultores</h5>
                        <div class="controls">
                            @if (Model != null && Model.AllConsultor != null)
                            {
                                @Html.ListBoxFor(m => m.SelectedConsultorIds, Model.AllConsultor, new { @id = "Consultor_select", Multiple = "multiple", @class = "form-control" })
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <h5>Período</h5>
                        <div class="span3">
                            @Html.LabelFor(model => model.MesDesde, new { @class = "control-label" })
                            <div class="row">
                                <div class="col-xl-5 col-md-6 mb-4">
                                    @Html.DropDownListFor(m => m.MesDesde, Model.Meses, new { Mes = "MesDesdeId", @id = "MesesDesde_DD", @class = "form-control" })
                                </div>
                                <div class="col-xl-6 col-md-6 mb-4">
                                    @Html.DropDownListFor(m => m.AnoDesde, Model.Anos, new { Ano = "AñoDesdeId", @id = "AnosDesde_DD", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            @Html.LabelFor(model => model.MesHasta, new { @class = "control-label" })
                            <div class="row">
                                <div class="col-xl-5 col-md-6 mb-4">
                                    @Html.DropDownListFor(m => m.MesHasta, Model.Meses, new { Mes = "MesHastaId", @id = "MesesHasta_DD", @class = "form-control" })
                                </div>
                                <div class="col-xl-6 col-md-6 mb-4">
                                    @Html.DropDownListFor(m => m.AnoHasta, Model.Anos, new { Ano = "AñoHastaId", @id = "AnosHasta_DD", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                            <a data-toggle="tab" href="javascript:void(0);" class="btn btn-primary btn-icon-split showRelatorio">
                                <span class="icon text-white-50">
                                    <i class="fas fa-table"></i>
                                </span>
                                <span class="text" style="width:140px">Relatório</span>
                            </a>

                            <a data-toggle="tab" href="javascript:void(0);" class="btn btn-success btn-icon-split showBar">
                                <span class="icon text-white-50">
                                    <i class="fas fa-chart-bar"></i>
                                </span>
                                <span class="text" style="width:140px">Gráfico</span>
                            </a>

                            <a data-toggle="tab" href="javascript:void(0);a" class="btn btn-info btn-icon-split showPizza">
                                <span class="icon text-white-50">
                                    <i class="fas fa-chart-pie"></i>
                                </span>
                                <span class="text" style="width:140px">Pizza</span>
                            </a>


                    </div>
                </div>
            </div>

        </div>
    }
    <div class="col-xl-12 col-md-6 mb-4" id="relatorio_div_disable" style="display:none">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="card shadow mb-4" id="_Result">

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-md-6 mb-4" id="piechart_div_disable" style="display:none">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="col-md-12" id="piechart_div"></div>

            </div>
        </div>
    </div>
    <div class="col-xl-12 col-md-6 mb-4" id="barchart_div_disable" style="display:none">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="col-md-12" id="barchart_div"></div>

            </div>
        </div>
    </div>
</div>


